<h1><center><%= @gallery.title %></center></h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="show">
      <%= image_tag @gallery.image.url(:large), class: 'img-show' if @gallery.image? %></div>
    </div>
</div>
</div>